TTWinClient/bin/teamtalk/Debug/config.dat
TTWinClient/lib/Debug/DuiLib.exp
TTWinClient/lib/Debug/GifSmiley.exp
TTWinClient/lib/Debug/Modules.exp
TTWinClient/lib/Debug/TTLogic.exp
TTWinClient/lib/Debug/httpclient.exp
TTWinClient/lib/Debug/utility.exp
TTWinClient/obj/Debug/DuiLib_Debug/DuiLib.tlog/CL.read.1.tlog
TTWinClient/obj/Debug/DuiLib_Debug/DuiLib.tlog/CL.write.1.tlog
TTWinClient/obj/Debug/DuiLib_Debug/DuiLib.tlog/DuiLib.lastbuildstate
TTWinClient/obj/Debug/DuiLib_Debug/DuiLib.tlog/DuiLib.write.1u.tlog
TTWinClient/obj/Debug/DuiLib_Debug/DuiLib.tlog/cl.command.1.tlog
TTWinClient/obj/Debug/DuiLib_Debug/DuiLib.tlog/link.command.1.tlog
TTWinClient/obj/Debug/DuiLib_Debug/DuiLib.tlog/link.read.1.tlog
TTWinClient/obj/Debug/DuiLib_Debug/DuiLib.tlog/link.write.1.tlog
TTWinClient/obj/Debug/DuiLib_Debug/vc120.idb
TTWinClient/obj/Debug/GifSmiley_Debug/GifSmiley.res
TTWinClient/obj/Debug/GifSmiley_Debug/GifSmiley.tlog/CL.read.1.tlog
TTWinClient/obj/Debug/GifSmiley_Debug/GifSmiley.tlog/CL.write.1.tlog
TTWinClient/obj/Debug/GifSmiley_Debug/GifSmiley.tlog/GifSmiley.lastbuildstate
TTWinClient/obj/Debug/GifSmiley_Debug/GifSmiley.tlog/GifSmiley.write.1u.tlog
TTWinClient/obj/Debug/GifSmiley_Debug/GifSmiley.tlog/cl.command.1.tlog
TTWinClient/obj/Debug/GifSmiley_Debug/GifSmiley.tlog/link.command.1.tlog
TTWinClient/obj/Debug/GifSmiley_Debug/GifSmiley.tlog/link.read.1.tlog
TTWinClient/obj/Debug/GifSmiley_Debug/GifSmiley.tlog/link.write.1.tlog
TTWinClient/obj/Debug/GifSmiley_Debug/GifSmiley.tlog/rc.command.1.tlog
TTWinClient/obj/Debug/GifSmiley_Debug/GifSmiley.tlog/rc.read.1.tlog
TTWinClient/obj/Debug/GifSmiley_Debug/GifSmiley.tlog/rc.write.1.tlog
TTWinClient/obj/Debug/GifSmiley_Debug/GifSmiley.tlog/unsuccessfulbuild
TTWinClient/obj/Debug/GifSmiley_Debug/vc120.idb
TTWinClient/obj/Debug/Modules_Debug/Modules.res
TTWinClient/obj/Debug/Modules_Debug/Modules.tlog/CL.read.1.tlog
TTWinClient/obj/Debug/Modules_Debug/Modules.tlog/CL.write.1.tlog
TTWinClient/obj/Debug/Modules_Debug/Modules.tlog/Modules.lastbuildstate
TTWinClient/obj/Debug/Modules_Debug/Modules.tlog/Modules.write.1u.tlog
TTWinClient/obj/Debug/Modules_Debug/Modules.tlog/cl.command.1.tlog
TTWinClient/obj/Debug/Modules_Debug/Modules.tlog/link.command.1.tlog
TTWinClient/obj/Debug/Modules_Debug/Modules.tlog/link.read.1.tlog
TTWinClient/obj/Debug/Modules_Debug/Modules.tlog/link.write.1.tlog
TTWinClient/obj/Debug/Modules_Debug/Modules.tlog/rc.command.1.tlog
TTWinClient/obj/Debug/Modules_Debug/Modules.tlog/rc.read.1.tlog
TTWinClient/obj/Debug/Modules_Debug/Modules.tlog/rc.write.1.tlog
TTWinClient/obj/Debug/Modules_Debug/vc120.idb
TTWinClient/obj/Debug/TTLogic_Debug/TTLogic.res
TTWinClient/obj/Debug/TTLogic_Debug/TTLogic.tlog/CL.read.1.tlog
TTWinClient/obj/Debug/TTLogic_Debug/TTLogic.tlog/CL.write.1.tlog
TTWinClient/obj/Debug/TTLogic_Debug/TTLogic.tlog/TTLogic.lastbuildstate
TTWinClient/obj/Debug/TTLogic_Debug/TTLogic.tlog/TTLogic.write.1u.tlog
TTWinClient/obj/Debug/TTLogic_Debug/TTLogic.tlog/cl.command.1.tlog
TTWinClient/obj/Debug/TTLogic_Debug/TTLogic.tlog/link.command.1.tlog
TTWinClient/obj/Debug/TTLogic_Debug/TTLogic.tlog/link.read.1.tlog
TTWinClient/obj/Debug/TTLogic_Debug/TTLogic.tlog/link.write.1.tlog
TTWinClient/obj/Debug/TTLogic_Debug/TTLogic.tlog/rc.command.1.tlog
TTWinClient/obj/Debug/TTLogic_Debug/TTLogic.tlog/rc.read.1.tlog
TTWinClient/obj/Debug/TTLogic_Debug/TTLogic.tlog/rc.write.1.tlog
TTWinClient/obj/Debug/TTLogic_Debug/vc120.idb
TTWinClient/obj/Debug/TTProtect_Debug/TTProtect.res
TTWinClient/obj/Debug/TTProtect_Debug/TTProtect.tlog/CL.read.1.tlog
TTWinClient/obj/Debug/TTProtect_Debug/TTProtect.tlog/CL.write.1.tlog
TTWinClient/obj/Debug/TTProtect_Debug/TTProtect.tlog/TTProtect.lastbuildstate
TTWinClient/obj/Debug/TTProtect_Debug/TTProtect.tlog/cl.command.1.tlog
TTWinClient/obj/Debug/TTProtect_Debug/TTProtect.tlog/link.command.1.tlog
TTWinClient/obj/Debug/TTProtect_Debug/TTProtect.tlog/link.read.1.tlog
TTWinClient/obj/Debug/TTProtect_Debug/TTProtect.tlog/link.write.1.tlog
TTWinClient/obj/Debug/TTProtect_Debug/TTProtect.tlog/rc.command.1.tlog
TTWinClient/obj/Debug/TTProtect_Debug/TTProtect.tlog/rc.read.1.tlog
TTWinClient/obj/Debug/TTProtect_Debug/TTProtect.tlog/rc.write.1.tlog
TTWinClient/obj/Debug/TTProtect_Debug/vc120.idb
TTWinClient/obj/Debug/httpclient_Debug/httpclient.tlog/CL.read.1.tlog
TTWinClient/obj/Debug/httpclient_Debug/httpclient.tlog/CL.write.1.tlog
TTWinClient/obj/Debug/httpclient_Debug/httpclient.tlog/cl.command.1.tlog
TTWinClient/obj/Debug/httpclient_Debug/httpclient.tlog/httpclient.lastbuildstate
TTWinClient/obj/Debug/httpclient_Debug/httpclient.tlog/httpclient.write.1u.tlog
TTWinClient/obj/Debug/httpclient_Debug/httpclient.tlog/link.command.1.tlog
TTWinClient/obj/Debug/httpclient_Debug/httpclient.tlog/link.read.1.tlog
TTWinClient/obj/Debug/httpclient_Debug/httpclient.tlog/link.write.1.tlog
TTWinClient/obj/Debug/httpclient_Debug/vc120.idb
TTWinClient/obj/Debug/teamtalk_Debug/teamtalk.res
TTWinClient/obj/Debug/teamtalk_Debug/teamtalk.tlog/CL.read.1.tlog
TTWinClient/obj/Debug/teamtalk_Debug/teamtalk.tlog/CL.write.1.tlog
TTWinClient/obj/Debug/teamtalk_Debug/teamtalk.tlog/cl.command.1.tlog
TTWinClient/obj/Debug/teamtalk_Debug/teamtalk.tlog/link.command.1.tlog
TTWinClient/obj/Debug/teamtalk_Debug/teamtalk.tlog/link.read.1.tlog
TTWinClient/obj/Debug/teamtalk_Debug/teamtalk.tlog/link.write.1.tlog
TTWinClient/obj/Debug/teamtalk_Debug/teamtalk.tlog/rc.command.1.tlog
TTWinClient/obj/Debug/teamtalk_Debug/teamtalk.tlog/rc.read.1.tlog
TTWinClient/obj/Debug/teamtalk_Debug/teamtalk.tlog/rc.write.1.tlog
TTWinClient/obj/Debug/teamtalk_Debug/teamtalk.tlog/teamtalk.lastbuildstate
TTWinClient/obj/Debug/teamtalk_Debug/vc120.idb
TTWinClient/obj/Debug/utility_Debug/utility.res
TTWinClient/obj/Debug/utility_Debug/utility.tlog/CL.read.1.tlog
TTWinClient/obj/Debug/utility_Debug/utility.tlog/CL.write.1.tlog
TTWinClient/obj/Debug/utility_Debug/utility.tlog/cl.command.1.tlog
TTWinClient/obj/Debug/utility_Debug/utility.tlog/link.command.1.tlog
TTWinClient/obj/Debug/utility_Debug/utility.tlog/link.read.1.tlog
TTWinClient/obj/Debug/utility_Debug/utility.tlog/link.write.1.tlog
TTWinClient/obj/Debug/utility_Debug/utility.tlog/rc.command.1.tlog
TTWinClient/obj/Debug/utility_Debug/utility.tlog/rc.read.1.tlog
TTWinClient/obj/Debug/utility_Debug/utility.tlog/rc.write.1.tlog
TTWinClient/obj/Debug/utility_Debug/utility.tlog/utility.lastbuildstate
TTWinClient/obj/Debug/utility_Debug/utility.tlog/utility.write.1u.tlog
TTWinClient/obj/Debug/utility_Debug/vc120.idb
TTWinClient/solution/teamtalk.sdf
TTWinClient/src/GifSmiley/dlldata.c
TTWinClient/src/GifSmiley/vc120.h
TTWinClient/src/GifSmiley/vc120.idl
TTServer/.tags
TTServer/.tags_sorted_by_file
TTServer/java/.classpath
TTServer/java/.gitignore
TTServer/java/.project
TTServer/java/.settings/org.eclipse.core.resources.prefs
TTServer/java/.settings/org.eclipse.jdt.core.prefs
TTServer/java/.settings/org.eclipse.m2e.core.prefs
TTWinClient/solution/teamtalk.opensdf
TTWinClient/obj/Release/
TTWinClient/.tags
TTWinClient/.tags_sorted_by_file
TTWinClient/bin/teamtalk/Release/config.dat
TTWinClient/bin/teamtalk/users/download/1268926051.jpg
TTWinClient/lib/Release/DuiLib.exp
TTWinClient/lib/Release/GifSmiley.exp
TTWinClient/lib/Release/Modules.exp
TTWinClient/lib/Release/TTLogic.exp
TTWinClient/lib/Release/httpclient.exp
TTWinClient/lib/Release/utility.exp
TTWinClient/solution/ipch/modules-20d83412/modules-546c999e.ipch
TTWinClient/solution/ipch/modules-20d83412/modules-9d80dea.ipch
TTWinClient/solution/ipch/teamtalk-8208a926/teamtalk-25b921fe.ipch
TTWinClient/solution/ipch/ttlogic-92cd4e0d/ttlogic-43d08c64.ipch
TTWinClient/solution/ipch/utility-9af7b849/utility-aba01d94.ipch
TTWinClient/solution/ipch/utility-9af7b849/utility-f21e1720.ipch
